/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-Apr-2018, 3:42:27 PM
    Author     : larisasabalin
*/
.aboutHr{
    color: #dc143c;
    background-color: #dc143c;
    margin:70px;
}
.aboutMain{
    height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.aboutPhoto {
    -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
    height: 120vh;
  text-transform: uppercase;
  font-size: 3vw;
  background-image: url(../images/_DSC3993.jpg);
color: #fff;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
}



.aboutEven{
    background: #bfafa6;
}
.aboutOdd{
    background: #fff;
}
.aboutOdd p, .aboutEven p{
     margin:20px;
    padding: 10px;
}
.reference{
    font-size: 10px;
    text-transform: uppercase;
}

.aboutText h1{
    text-transform: uppercase;
  letter-spacing: 0.8px;
  font-weight:100;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
  font-size: 1.9rem;
  margin: 2%;
  padding: 0;
}
.aboutText h2{
    text-align: left;
  padding-right: 10px;
  font-weight:50;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 2px;
  width: 120px;
}