/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-Apr-2018, 3:42:27 PM
    Author     : larisasabalin
*/
.aboutHr{
    color: #dc143c;
    background-color: #dc143c;
    margin:70px;
}
.aboutMain{
    height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.aboutPhoto {
    -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
    height: 120vh;
  text-transform: uppercase;
  font-size: 3vw;
  background-image: url(../images/_DSC3993.jpg);
color: #fff;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
}



.aboutEven{
    background: #bfafa6;
}
.aboutOdd{
    background: #fff;
}
.aboutOdd p, .aboutEven p{
     margin:20px;
    padding: 10px;
}
.reference{
    font-size: 10px;
    text-transform: uppercase;
}

.aboutText h1{
    text-transform: uppercase;
  letter-spacing: 0.8px;
  font-weight:100;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
  font-size: 1.9rem;
  margin: 2%;
  padding: 0;
}
.aboutText h2{
    text-align: left;
  padding-right: 10px;
  font-weight:50;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 2px;
  width: 120px;
}
    #container{
        background-color: #fff;
        border-right: 5%;
        
    }
    .thumbnail > img,
    .thumbnail a > img,
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        display: block;
        max-width: 100%;
        height: auto;
        
    }

    .gallery-container h1 {
        text-align: center;
        margin-top: 70px;
        font-weight: bold;
        color: #58595a;
    }

    .gallery-container p.page-description {
        text-align: center;
        margin: 30px auto;
        font-size: 18px;
        color: #85878c;
    }

    .tz-gallery {
        padding: 40px;
    }

    .tz-gallery .thumbnail {
        padding: 0;
        background-color: #bfafa6;
        border-radius: 4px;
        border: none;
        transition: 0.15s ease-in-out;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
        transition: transform 0.4s ease;
        width: auto;
    }

    .tz-gallery .thumbnail:hover {
        transform: translateY(-10px) scale(1.02);
    }

    .tz-gallery .lightbox img {
        border-radius: 4px 4px 0 0;
        height: 250px;
        min-width: 250px;
        width: auto;
        -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
    }

    .tz-gallery .caption {
        padding: 5px 0px 5px 0px;
        text-align: center;
        background: #bfafa6;
        color: #fff;
    }

    .tz-gallery .caption h3 {
        font-size: 14px;
        font-weight: bold;
        margin-top: 0;
        color: #fff;
    }

    .tz-gallery .caption p {
        font-size: 12px;
        color: #fff;
        margin: 0;
    }


    /*
    .gallery {
        text-align: center;
        width: 60%;
        margin: 0 auto;
    }
    .gallery:after {
        content: '';
        display: block;
        height: 2px;
        margin: .5em 0 1.4em;
        background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(77,77,77,1) 50%, rgba(0, 0, 0, 0) 100%);
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(77,77,77,1) 50%, rgba(0, 0, 0, 0) 100%);
    }

    .gallery img {
        height: 100%;
    }

    .gallery a {
        width: 240px;
        height: 180px;
        display: inline-block;
        overflow: hidden;
        margin: 4px 6px;
        box-shadow: 0 0 4px -1px #000;
    }

    .caption {
        border: 1px solid black;
    }

    .thumbnail {
        border: 1px solid black;
    }
    */
    .adoptedSpace{
    margin-bottom: 10px;
}